/image_upload
/instance
/jugend.png
/jugend1900_1_0328.jpg
/jugend1900_2_0391.jpg
/model_final.pth
/model_final_b275ba.pkl
/my_text.json
/newspaper-navigator-master
/original.png
/sturm1910_1911_0150.png
/sturm1910_1911_0173.png
/test
/test.ipynb
/test.png
/test2.png
/train_80_percent.json
/trainval.json
/uploaded_image.jpg
/val_20_percent.json
flask-server/__pycache__/__init__.cpython-37.pyc
flask-server/__pycache__/__init__.cpython-38.pyc
html/two.js
